.IndexPageContainer {
    width: 70%;
    margin: 0 auto;
    padding: 0 15px;
    background-color: white;
}

.IndexPageInfoContainer {
    display: flex;
    margin: 0 2rem;
    padding: 5rem;
    flex-direction: column;
    align-items: center;
}

.IndexPageInfo {
    display: flex;
    flex-direction: row;
}

.IndexPageAvatarBox {
}

.IndexPageAvatarBox img {
    width: 15rem;
    padding: 0;
}

.IndexPageInfoBox {
    margin: 2rem 5rem;
    text-align: left;
}

.IndexPageNameBox {
    font-size: 2.8rem;
    margin: 0;
}

.IndexPageLinkBox {
    font-weight: bold;
}

.IndexPageCompanyBox, .IndexPageBlogBox, .IndexPageLocationBox {
    font-weight: bold;
}

.IndexPageProfBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.IndexPageProfBox div {
    padding: 10px;
}

.IndexPageRepoDiv h3 {
    font-size: 1.5rem;
    text-align: left;
}

.IndexPageRepoList {
    padding-inline-start: 0;
    padding-block-end: 1rem;
    margin-block-end: 0;
}

.IndexPageRepoList h3 {
    font-size: 1.8rem;
}

.IndexPageRepoList li {
    padding-inline-start: 0;
    box-sizing: border-box;
    padding: 16px;
}

.RepoTagContainer {
    display: flex;
    height: 200px;
    padding: 8px 16px;
    flex-direction: column;
    border: gray solid 2px;
    border-radius: 4px;
    position: relative;
}

.RepoTagContainer h4 {
    text-align: left;
    color: black;
}

.RepoTagContainer p {
    text-align: left;
    color: gray;
}

.RepoTagInfoContainer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 8px;
    width: 100%;
}

@media (max-width: 768px) {
    .IndexPageContainer {
        width: 100%;
        padding: 0;
    }

    .IndexPageInfoContainer {
        display: block;
        padding: 5px 0 0;
    }

    .IndexPageInfo {
        flex-direction: column;
    }

    .IndexPageProfBox {
        padding-left: 0;
        flex-direction: column;
        margin: 2rem auto;
    }

    .IndexPageInfoBox {
        margin: 0;
    }

    .IndexPageNameBox {
        font-size: 2rem;
    }

    .IndexPageRepoList {
        padding-inline-start: 0.3rem;
    }

    .IndexPageRepoList h3 {
        font-size: 1rem;
    }

    .IndexPageRepoList li {
        padding-inline-start: 0.5rem;
    }

    .IndexPageRepoList a {
        font-size: 0.6rem;
    }
}