.LoginForm {
    min-width: 310px;
    background-color: white;
    border-radius: 2px;
    border: rgba(0, 0, 0, 0.12) solid 1px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.LoginFormButtonArea {
    display: flex;
    margin: 30px 10px 10px;
}

.LoginFormCloseButton {
    border-width: 0;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    padding: 0;
}

.LoginFormCloseButton line {
    stroke: rgba(0, 0, 0, 0.54);
    stroke-width: 2px;;
}

.LoginFormTitle {
    margin-left: 10px;
}

.LoginFormButtonArea div {
    display: flex;
    width: 50%;
}

.LoginFormButtonArea button {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .LoginFormContainer form {
        width: 100%;
        max-width: 100%;
    }

    .LoginForm {
        padding: 0;
    }
}