.Footer {
    height: 150px;
    padding: 0 0.2rem;
    background-color: #039BE5;
    display: flex;
    flex-direction: column;
}

.FixBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.FooterInfo ul {
    list-style: none;
    align-items: center;
    display: flex;
    padding-inline-start: 0.2rem;
    flex-direction: column;
    width: 100%;
}

.FooterInfo li {
    color: white;
    opacity: 0.6;
    margin: 0 0.4rem;
    text-align: left;
    width: 100%;
}

.ModuleUsed {
    display: flex;
    flex-direction: row;
}

.ModuleUsed ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    flex-flow: column;
}

.ModuleUsed li {
    display: inline;
}

@media (min-width: 768px) {
    .Footer {
        padding: 0 60px;
    }

    .FooterInfo  ul {
        flex-direction: row;
    }

    .FooterInfo  li {
        width: fit-content;
    }

    .FooterInfo  li:not(:nth-last-child(-n+1)):after {
        content: '|';
        color: white;
        opacity: 0.6;
        margin-left: 0.4rem;
    }

}

