.Footer {
    height: 3rem;
    padding: 0 4rem;
    background-color: #282c34;
    display: flex;
}

.Footer ul {
    list-style: none;
    margin: 10px;
    align-items: center;
    display: flex;
}

.Footer li {
    color: white;
    opacity: 0.6;
    margin: 0 0.4rem 0 0;
}

@media (min-width: 768px) {
    .Footer li:not(:nth-last-child(-n+1)):after {
        content: '|';
        color: white;
        opacity: 0.6;
        margin-left: 0.4rem;
    }

}

