.MarkdownContainer {
    text-align: left;
    padding: 0 15px;
    width: 70%;
    margin: 0 auto;
}

.MarkdownContainer pre {
    background-color: #ececec;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}


@media (max-width: 768px) {
    .MarkdownContainer {
        width: 100%;
    }
}