.NavBarContainer {
    padding: 0 60px;
    min-height: 35px;
    background-color: #282c34;
}

.NavBarMain {
    width: 100%;
    display: flex;
}

.Title {
    font-size: 30px;
    margin: 0.3rem 0;
    padding: 0;
    width: 200px;
    color: white;
    font-weight: lighter;
    word-break: keep-all;
}

.NavBarContentContainer {
    display: flex;
    width: inherit;
}

.NavBarSiteItemContainer {
    display: flex;
    list-style: none;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBarSiteItemContainer li {
    padding: 10px 0;
    margin-block-end: 0;
}

.NavItem {
    margin: auto 10px;
}

.NavItem h3 {
    margin: auto;
    font-weight: normal;

}

.NavBarContainer ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.NavBarContainer a {
    color: white;
    opacity: 0.6;
    text-decoration: none;
    text-transform: capitalize;
}

.NavBarContainer a:hover {
    opacity: 0.8;
}

.UserInfo {
    margin-left: auto;
    margin-right: 1rem;
    color: white;
    list-style: none;
    height: 100%;
    display: flex;
}

.UserInfo li {
    margin: auto;
}

.ToggleButton {
    outline-style: none;
    background-color: transparent;
    border-color: #a7a7a7;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin: auto 1rem auto auto;
    width: 30px;
    height: 30px;
}

.ToggleButton:after {
    content: '+';
    color: white;
    opacity: 0.8;

}

.ToggleButton:hover {
    background-color: #61dafb;
}

.ToggleButton:active {
    background-color: #cdcdcd;
}

.NarrowNavBarContainer {

}

.NarrowNavItem {
    margin: 0;
}

.NarrowNavItem h3 {
    text-align: left;
    margin-left: 40px;
}

@media screen and (max-width: 768px) {
    .NavBarContainer {
        padding: 0 0.2rem;
    }
}