.NavBarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 26;
    min-height: 4.5rem;
    background-color: #039BE5;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.26);
}

.NavBarMain {
    width: 100%;
    display: flex;
    height: 4.5rem;
}

.Title {
    font-size: 28px;
    padding: 0;
    color: white;
    font-weight: lighter;
    word-break: keep-all;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-inline-start: 30px;
}

.NavBarContentContainer {
    display: flex;
    width: inherit;
}

.NavBarSiteItemContainer {
    display: flex;
    list-style: none;
}

.NavBarSiteItemContainer li {
}

.NavItem {
    margin: auto 10px;
}

.NavItem h3 {
    margin: auto;
    font-weight: normal;

}

.NavBarContainer ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.NavBarContainer a {
    color: white;
    opacity: 0.87;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.NavBarContainer a:hover {
    opacity: 0.8;
}

.UserInfo {
    margin-left: auto;
    margin-right: 1rem;
    color: white;
    list-style: none;
    height: 100%;
    display: flex;
}

.UserInfo li {
    margin: auto;
}

.UserInfoLoginButton {
    background-color: transparent;
    border-width: 0;
    display: inline;
    color: white;
    opacity: 0.87;
    font-size: 20px;
}

.ToggleButton {
    outline-style: none;
    background-color: transparent;
    margin: auto 1rem auto auto;
    border: none;
}

.ToggleButton:active {
    background-color: #42c4e5;
}

.RightSideBarMask {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes RightSideNavBarEnter {
    from {
        transform: scale(0, 1);
    }

    to {
        transform: scale(1, 1);
    }
}

.RightSideNavBarEnter {
    width: 55%;
    transition: width 0.4s ease-in;
    transform-origin: 155% 0;
    animation: RightSideNavBarEnter 0.4s ease-in;
}

@keyframes RightSideNavBarLeave {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(0, 1);
    }
}

.RightSideNavBarLeave {
    transition: width 0.4s ease-out;
    transform-origin: 100% 0;
    animation: RightSideNavBarLeave 0.4s ease-out;
}

.RightSideBarContainer {
    height: 100vh;
    position: absolute;
    background-color: #fafafa;
    top: 0;
    right: 0;
    width: 55%;
    padding: 35px 15px;
    text-align: left;
    z-index: 32;
    box-shadow: rgba(0, 0, 0, 0.12) 0 -4px 4px;
}

.RightSideUsername {
    font-weight: 500;
    padding-bottom: 14px;
    padding-left: 14px;
    font-size: 20px;
    word-break: break-all;
}

.RightSideBarItemContainer {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 14px;
}

.RightSideBarItemContainer li {
    padding: 14px 20px;
    font-weight: 700;
}

.RightSideBarItemContainer a {
    color: #01579B;
    font-size: 18px;
}

.RightSideOperationBox {
    padding: 14px;
    display: flex;
}

.RightSideLogout {
    width: 45%;
    border-radius: 2px;
    border: none;
    background-color: transparent;
    color: #039BE5;
    font-weight: 600;
    margin-left: -7px;
    height: 30px;
}

.RightSideLogout :active {
    background-color: rgba(3, 155, 229, 0.4);
}

.RightSideLogin {
    width: 45%;
    border-radius: 2px;
    border: none;
    background-color: #039BE5;
    color: white;
    height: 30px;
}

.NarrowNavBarContainer {
    background-color: #039BE5;
}

@media screen and (max-width: 768px) {
    .NavBarContainer {
        padding: 0 0.2rem;
    }

    .Title {
        width: fit-content;
        font-size: 24px;
        margin-left: -10px;
    }
}